<main class="block-main block-main-bg-light block-main-profil">
  <div class="container">
    <div class="row">
      <div class="col-12">

        <mat-card class="card">
          <div class="card-header">
            <div class="title-card-light">
              Informations générales
            </div>
            <button class="btn update-svg" type="button">
              <img src="./assets/svg/dots-update.svg" alt="">
            </button>
          </div>
          <div class="card-body">
            <figure class="card-svg">
              <img src="./assets/svg/vaccine.svg" alt="img-fluid">
            </figure>
            <div class="card-text">
              <div class="card-title">Sacré de Birmanie</div>
              <p>
                <span class="sex">Femelle</span>
                <span class="color-race">Seal Point</span>
              </p>
            </div>
          </div>
          <div class="card-body">
            <figure class="card-svg">
              <img src="./assets/svg/vaccine.svg" alt="img-fluid">
            </figure>
            <div class="card-text">
              <div class="card-title">9 mai 2018</div>
              <p>
                <span class="age">11 mois</span>
              </p>
            </div>
          </div>
        </mat-card>

        <mat-card class="card card-single-body">
          <div class="card-body">
            <figure class="card-svg">
              <img src="./assets/svg/vaccine.svg" alt="img-fluid">
            </figure>
            <div class="card-text">
              <div class="card-title">Stérilisation</div>
              <p>
                <span class="undefined">Non renseigné</span>
              </p>
            </div>
            <button class="btn update-svg" type="button">
              <img src="./assets/svg/dots-update.svg" alt="">
            </button>
          </div>
        </mat-card>

        <!-- If card content info add class card-content-info -->

        <mat-card class="card card-single-body card-content-info">
          <div class="card-body">
            <figure class="card-svg">
              <img src="./assets/svg/vaccine.svg" alt="img-fluid">
            </figure>
            <div class="card-text">
              <div class="card-title">Puce électronique</div>
              <p>
                <span class="undefined">Non renseigné</span>
              </p>
            </div>
            <button class="btn update-svg" type="button">
              <img src="./assets/svg/dots-update.svg" alt="">
            </button>
          </div>
          <a href="#" class="content-info">
            <span class="content-info-text">En savoir plus sur l'identification</span>
          </a>
        </mat-card>

        <mat-card class="card">
          <div class="card-header">
            <div class="title-card-light">
              Documents
            </div>
            <button class="btn update-svg" type="button">
              <img src="./assets/svg/dots-update.svg" alt="">
            </button>
          </div>
          <div class="card-body">
            <figure class="card-svg">
              <img src="./assets/svg/vaccine.svg" alt="img-fluid">
            </figure>
            <div class="card-text">
              <div class="card-title">Passeport Européen</div>
              <p>
                  <span class="undefined">Non renseigné</span>
              </p>
            </div>
          </div>
          <div class="card-body card-body-border">
            <figure class="card-svg">
              <img src="./assets/svg/vaccine.svg" alt="img-fluid">
            </figure>
            <div class="card-text">
              <div class="card-title">Ordonnances</div>
              <p>
                <span class="undefined">Non renseigné</span>
              </p>
            </div>
          </div>
          <div class="card-body card-body-border">
            <figure class="card-svg">
              <img src="./assets/svg/vaccine.svg" alt="img-fluid">
            </figure>
            <div class="card-text">
              <div class="card-title">Assurance</div>
              <p>
                <span class="undefined">Non renseigné</span>
              </p>
            </div>
          </div>
        </mat-card>

      </div>
    </div>
  </div>
</main>