
<main class="block-main block-main-add-pet">
<mat-horizontal-stepper linear #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <h2 class="main-title">Identité de l'animal</h2>
    <form [formGroup]="firstFormGroup" (ngSubmit)="onSubmitFormFirst()">
      <mat-radio-group class="radio-group" formControlName="type">
        <mat-radio-button class="form-group radio-before radio-cat" value="1">Chat</mat-radio-button>    
        <mat-radio-button class="form-group radio-before radio-dog" value="2">Chien</mat-radio-button>    
        <mat-radio-button class="form-group radio-before radio-rodent" value="3">Rongeur</mat-radio-button>    
        <mat-radio-button class="form-group radio-before radio-bird" value="4">Bird</mat-radio-button>    
        <mat-radio-button class="form-group radio-before radio-other" value="5">Autre</mat-radio-button>    
      </mat-radio-group>
      <div>
        <button mat-button matStepperNext class="btn btn-primary">Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmitFormSecond()">
        <h2 class="main-title">Identité de l'animal</h2>
        <mat-form-field>
          <input id="inputPetName" class="form-control" matInput placeholder="Nom de votre animal" formControlName="name" required>
        </mat-form-field>
        <mat-error *ngIf="secondFormGroup.get('name').invalid">{{getErrorMessage()}}</mat-error>
        <h2 class="main-title">Date de naissance</h2>
        <mat-form-field>
          <input matInput class="form-control" [matDatepicker]="picker" placeholder="Choisir une date" formControlName="birthdate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>

      <div>
        <button mat-button matStepperPrevious class="btn btn-secondary">Précédent</button>
        <button mat-button matStepperNext class="btn btn-primary">Suivant</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
      <ng-template matStepLabel>Valide</ng-template>
        <div class="main-title">Le carnet de santé est prêt !</div>
        <a href="" class="btn btn-primary">Ajouter des informations</a>
        <a href="" class="">Retour à la page</a>
      <div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
</main>