// ---------------------------------------------------------
// Forms
// 1 - Input : class form-control
// 2 - Radioboxes : class radio-%%
// 3 - Valid / Invalid feedback
// ---------------------------------------------------------

form{
    text-align: center;
}

// ------------------------------------------------
// 1 - Input : class form-control
// ------------------------------------------------

.form-control{
    background-color: $formGrey;
    border: none;
    @include border;
    padding: 1.5rem 2rem;
    &::placeholder{
        color: $lightGrey;
    }
    &:focus{
        border-color: $darkBlue;
        box-shadow: 0 0 0 0.2rem rgba(20, 176, 182, .3);
    }
    &.is-invalid{
        border-color: $pink;
        box-shadow: 0 0 0 0.2rem rgba(255, 0, 119, .3);
    }
}

// ------------------------------------------------
// 2 - Radioboxes : class radio-%%
// ------------------------------------------------

.radio-group{
    display: flex;
    flex-wrap: wrap;
    .form-group{
        width: 33%;
        &:nth-child(1), &:nth-child(2){
            width: 50%;
        }
    }
}

// If radio-before : display before with square shape
.radio-before{
    @extend .main-title;
    cursor: pointer;
    font-size: 	1.5rem;
    position: relative;
    &:before{
        content: "";
        @include shadow;
        display: flex;
        width: 65px;
        height: 65px;
        border-radius: 15px;
        background: $gradient;
        padding: .5rem;
    }
    &:after{
        content: "";
        position: absolute;
        top: 0%;
        left: 0%;
        z-index: 99;
        width: 65px;
        height: 65px;
        display: flex;
        background-size: contain;
    }
    &.radio-cat{
        &:after{
            background: url("/assets/svg/cat.svg") center no-repeat;
        }
    }
    &.radio-dog{
        &:after{
            background: url("/assets/svg/dog.svg") center no-repeat;
        }
    }
    &.radio-rodent{
        &:after{
            background: url("/assets/svg/rodent.svg") center no-repeat;
        }
    }
    &.radio-bird{
        &:after{
            background: url("/assets/svg/bird.svg") center no-repeat;
        }
    }
    &.radio-other{
        &:after{
            background: url("/assets/svg/other.svg") center no-repeat;
        }
    }
}

// ------------------------------------------------
// 3 - Valid / Invalid feedback
// ------------------------------------------------

.is-valid{
    color: $lightGreen;
}

.invalid-feedback{
    color: $pink;
}