// ---------------------------------------------------------
// CRUD Pet SCSS
// ---------------------------------------------------------

.block-main-crud-pet{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .form-create-pet{
        padding: 1.5rem 0;
    }   
}