<app-header-overview></app-header-overview>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="main-title">Les carnets de santé de vos animaux à portée de main !</h1>
    </div>
    <div class="col-12">
      <div class="content-btn">
        <a class="btn btn-primary" routerLink="/login">Connexion</a>
        <a class="btn btn-secondary" routerLink="/register">Inscription</a>
        <a class="btn btn-primary d-none" routerLink="/home">Home</a>
      </div>          
    </div>
  </div>
</div>
